{
    "log": {
      "level": "debug2"
    },

    "opflex": {
        "name": "disabled",
        "domain": "disabled",
        "ssl": {
            "mode": "encrypted",
            "ca-store": "/etc/ssl/certs/"
        }
    }
}
