{
    "log": {
      "level": "debug2"
    },

    "opflex": {
    "domain": "comp/prov-<%= p('apic.vmm_policy') %>/ctrlr-[<%= p('apic.vmm_domain') %>]-<%= p('apic.vmm_controller') %>/sw-InsiemeLSOid",
       "name": "<%= @spec.name %>-<%= @spec.id %>",
       "peers": [
          {"hostname": "10.0.0.30", "port": "8009"}
        ],
       "ssl": {
          "mode": "encrypted",
          "ca-store": "/etc/ssl/certs/"
       },
       "inspector": {
      "enabled": true,
           "socket-name": "/var/run/opflex-agent-ovs-inspect.sock"
       },
       "notif": {
           "enabled": true,
           "socket-name": "/var/run/opflex-agent-ovs-notif.sock",
           "socket-group": "opflexep",
           "socket-permissions": "770"
       }
    },

    "endpoint-sources": {
        "filesystem": ["/var/lib/opflex-agent-ovs/endpoints"]
    },
    "service-sources": {
        "filesystem": ["/var/lib/opflex-agent-ovs/services"]
    },
    "renderers": {
         "stitched-mode": {
             "ovs-bridge-name": "br-int",
             "access-bridge-name": "br-access",

             "encap": {
                 "vxlan" : {
                     "encap-iface": "<%= p('ovs.encap_interface') %>",
                     "uplink-iface": "<%= p('opflex.interface') %>.<%= p('apic.infra_vlan') %>",
                     "uplink-vlan": <%= p('apic.infra_vlan') %>,
                     "remote-ip": "10.0.0.32",
                     "remote-port": 8472
                 }
             },
             "forwarding": {
                 "virtual-router": {
                      "enabled": true,
                      "mac": "00:22:bd:f8:19:ff",
                          "ipv6": {
                           "router-advertisement": "false"
                          }
                  },
                  "virtual-dhcp": {
                      "enabled": "false",
                      "mac": "00:22:bd:f8:19:ff"
                  }
             },
             "flowid-cache-dir": "/var/lib/opflex-agent-ovs/ids"
        }
    }
}
