{
  "log-level": "debug",
  "cfconfig": "/var/vcap/jobs/aci-cf-host-agent/config/cf.conf",
  "uplink-iface": "eth1",
  "ovs-db-sock": "/var/run/openvswitch/db.sock",
  "ep-rpc-sock": "/var/run/aci-containers-ep-rpc.sock",
  "ep-rpc-sock-perms": "0770",
  "opflex-endpoint-dir": "/var/lib/opflex-agent-ovs/endpoints/",
  "opflex-service-dir": "/var/lib/opflex-agent-ovs/services/",
  "status-port": 9990,
  "aci-vmm-domain": "<%= p('apic.vmm_domain') %>",
  "aci-vmm-controller": "<%= p('apic.vmm_controller') %>",
  "aci-vrf": "<%= p('apic.policy_vrf') %>",
  "aci-vrf-tenant": "<%= p('apic.policy_vrf_tenant') %>",
  <%=
     m = /vlan-(?<tag>[0-9]+)/.match(p('apic.service_encap'))
     if m
        "\"service-vlan\": " + m["tag"] + ","
     end
  %>
  <%
     require 'cidr'
     cni_cidr = NetAddr::CIDR.create(p('network.subnet'))
  %>
  "cni-netconfig": [
     {
        "routes": [
           {
              "gw": "<%= cni_cidr.ip %>",
              "dst": "0.0.0.0/0"
           }
        ],
        "subnet": "<%= cni_cidr.to_s() %>",
        "gateway": "<%= cni_cidr.ip %>"
     }
  ]
}
